.app_navbar{
    width : 100%;
    display : flex;
    border : 2px solid black;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding : 1rem 2rem;
}

.app_navbar-logo{
    display : flex;
    justify-content: flex-start;
    align-items: center;
}

.app_navbar-logo img{
    width : 150px;
}

.app_navbar-links{
    flex : 1;
    display : flex;
    justify-content: center;
    align-items : center;
    list-style: none;

}

.app_navbar-links li{
    margin : 0 1rem;
    cursor : pointer;
}

.app_navbar-links li:hover{
    color : grey;
}

.app_navbar-login{
    display : flex;
    justify-content: flex-end;
    align-items: center;
}

.app_navbar-login a{
    margin : 0 1rem;
    text-decoration : none;
    transition : 0.5s ease;
}

.app_navbar-login a:hover{
    border-bottom : 1px solid yellow;
}

app_navbar-login div{
    width : 1px;
    height : 30px;
    background-color: grey;
}

.app_navbar-smallscreen{
    display: none;
    align-items: center;
    cursor:pointer;
    z-index : 10;
} 

.app_navbar-smallscreen_overlay{
    position : fixed;
    top : 0;
    left : 0;
    width : 100%;
    height : 100vh;
    background-color: black;
    transition : 0.5s ease;
    display : flex;
    flex-direction: column;
    z-index:5;
}

.app_navbar-smallscreen_overlay .overlay_close{
    font-size: 27px;
    color : yellow;
    cursor : pointer;

    position : absolute;
    top : 20px;
    right : 20px;
}

.app_navbar-smallscreen-links{
    list-style: none;
}

.app_navbar-smallscreen-links li{
    margin : 2rem;
    cursor : pointer;
    color : yellow;
    font-size : 2rem;
    text-align: center;
    font-family: var(--font-base);
}

@media screen and (max-width : 2000px){
    .app_navbar-logo img {
        width : 210px;
    } 
}

@media screen and (max-width : 1000px){
    .app_navbar-links{
        display : none;
    }

    .app_navbar-login{
        display : none;
    }

    .app_navbar-smallscreen {
        display: flex;
        width: 40px;          /* ensure visible */
        height: 40px;
        justify-content: center;
        align-items: center;
    }
} 

@media screen and (max-width : 600px){
    .app_navbar{
        padding :  1rem;
    }

    .app_navbar-login{
        display : none;
    }

    .app_navbar-logo img {
        width : 110px;
    } 
}